body {
    font-family: 'Lato', sans-serif;
    background: url('https://img.pikbest.com/wp/202347/purple-background-image-rendering-of-a-3d-illustrated-with-black-and-shapes_9770212.jpg!bw700') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .btn {
    margin-top: 10px;        /* Adds a 5px margin on all sides */
    display: flex;      /* Allows centering */
    align-items: center; /* Vertically centers content */
    justify-content: center; /* Horizontally centers content */
  }
  
  .small-icon {
    font-size: 0.75em; /* Reduce icon size */
    margin-left: 8px;  /* Add space between text and icon */
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }

  .header,
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    z-index: 10;
  }

  .header {
    background-color: #000;
    font-family: 'Poppins', sans-serif;
  }

  .header .brand {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #9B59B6;
  }

  .header .btn {
    border-radius: 30px;
    padding: 10px 20px;
    margin-left: 10px;
    transition: all 0.3s ease-in-out;
  /* background: linear-gradient(to right, #8e44ad, #9b59b6); */
  color: #fff;
  }

  .header .btn:hover {
    color: #8644ad;
    transform: translateY(-2px); /* Raise the button slightly */
  }
  /* Add a pseudo-element for the white line */
.header .btn::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px; /* Adjust to position the line */
  height: 2px; /* Height of the line */
  background-color: white; /* Color of the line */
  opacity: 0; /* Initially invisible */
  transition: opacity 0.3s ease; /* Smooth transition for the line */
}
.header .btn:hover::after {
  opacity: 1; /* Show the line on hover */
}
  .header ul {
    display: flex;
    list-style: none;
    
  }

  

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    z-index: 10;
    font-family: "Poppins", "Sans-serif";

  }

  .url-box {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white for glass effect */
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2)); /* Gradient effect */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 500px;
    opacity: 0; /* Initial opacity for animation */
    transform: scale(0.8) rotate(3deg); /* Initial transform for animation */
    transition: opacity 0.5s ease, transform 0.5s ease;
    animation: fadeInScale 0.5s forwards;
    font-weight: 100  ;
    
    /* Glassmorphism effect */
    backdrop-filter: blur(20px); /* Frosted glass effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
  }

  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.8) rotate(3deg);
    }

    50% {
      opacity: 0.5;
      transform: scale(1.05) rotate(-3deg);
    }

    100% {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }
  }

  .url-box:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
  }

  .url-box .btn {
    background-color: #9B59B6;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    padding: 10px 20px;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
  }

  .url-box .btn:hover {
    background-color: #8E44AD;
  }

  .footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 40px;
    flex-shrink: 0;
    flex-direction: column;
  }

  .footer a {
    color: #9B59B6;
    text-decoration: none;
    font-weight: bold;
  }

  .footer .heart {
    color: #8E44AD;
  }

  .footer a:hover {
    color: #ffffff;
  }
  
  .footer .heart:hover {
    color: #c39bd3;
    transform: scale(1.1);
  }
  
  .footer-details {
    margin-top: 20px;
    text-align: center;
  }

  .copy-icon {
    cursor: pointer;
    color: #9B59B6;
    margin-left: 10px;
    transition: color 0.3s;
    font-size: 1.2em;
  }

  .url-highlight {
    background-color: #9B59B6;
    color: white;
    padding: 2px 4px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  .short-url{
    word-wrap: break-word;  
overflow-wrap: break-word;
  }

  .error-message {
    color: red;
    font-weight: bold;
  }

  #keywordLengthIndicator {
    float: right;
  }

  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check {
    display: none;
  }


  /***** MEDIA QUERY *****/

@media(max-width : 600px) {
    .main-content {
        height: calc(100vh - 30vh) !important;
        width: 100% !important;
        z-index: 0;
      }

  .header {
    padding: 5px 10px;
    z-index: 10;
    height: 13vh;
    width: 100%;
  }
  
  .header ul {
    display: flex;
    flex-direction: column; 
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    top: 80px;
    right: -100%;
    text-align: center;
    transition: all .5s;
    gap : 6px;
    padding-top: 20px;
    padding-right: 0;
    padding-left: 0;
  }
  .header ul li {
    margin: 5px 0px;
  }

  .header .brand span {
    display: none;
  }

  .checkbtn {
    display: block;
    margin-top: -5px;
    margin-right: 20px;
  }
  #check:checked ~ ul {
    right: 0;
  }

  .url-box {
    width: 90%;
  }


  .footer {
    padding-top: 10px;
    z-index: 10;
    height: 17vh;
    justify-content: space-around;
  }
  .footer-details {
    margin: 0;
  }


}

@media (max-width: 768px) {
    .header .brand{
        font-size: 20px;
    }
    .header ul li a {
      font-size: 14px;
    }

  
    .footer-details {
      margin: 8;
    }
    .footer-details p {
      margin-bottom: 0;
    }
  }